{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Bem-vindo ao sistema!</h1>
        <p>Você está logado com sucesso.</p>
    </div>
{% endblock %}
